<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Pràctica2OliverIgnasi/src/Exercici1/Exercici1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Exercici1.Exercici1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Pràctica2OliverIgnasi"/>
</launchConfiguration>
